  <section id="search" class="search-wrap">
    <h1>Find A Trail</h1>
    <form action="/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="name, location, length...">
      <input type="submit" value="Search">
    </form>
  </section>