  <section id="search" class="search-wrap">
    <h1>Find A Trail</h1>
    <form action="/" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="name, location, length...">
      <input type="submit" value="Search" id="searchBtn">
    </form>
  </section>

          {{!-- <!-- RESULTS -->
        <div class="col-sm-12 col-md-3 col-lg-3 cardCol">
          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg1"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle1">Trail Name</h5>
              <p class="card-text" id="cardInfo1">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink1">Trail link</a>
            </div>
          </div>

          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg2"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle2">Trail Name</h5>
              <p class="card-text" id="cardInfo2">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink2">Trail link</a>
            </div>
          </div>

          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg3"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle3">Trail Name</h5>
              <p class="card-text" id="cardInfo3">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink3">Trail link</a>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-3 cardCol">
          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg4"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle4">Trail Name</h5>
              <p class="card-text" id="cardInfo4">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink4">Trail link</a>
            </div>
          </div>

          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg5"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle5">Trail Name</h5>
              <p class="card-text" id="cardInfo5">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink5">Trail link</a>
            </div>
          </div>

          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg6"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle6">Trail Name</h5>
              <p class="card-text" id="cardInfo6">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink6">Trail link</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 cardCol">
          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg7"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle7">Trail Name</h5>
              <p class="card-text" id="cardInfo7">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink7">Trail link</a>
            </div>
          </div>

          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg8"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle8">Trail Name</h5>
              <p class="card-text" id="cardInfo8">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink8">Trail link</a>
            </div>
          </div>
          <div class="card text-center">
            <img
              src=""
              class="card-img-top"
              id="cardImg9"
              alt="Recipe Image"
            />
            <div class="card-body">
              <h5 class="card-title" id="cardTitle9">Trail Name</h5>
              <p class="card-text" id="cardInfo9">Description</p>
              <a href="#" class="btn btn-primary" id="cardLink9">Trail link</a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-9 col-lg-9 noRes">
          <div class="card text-center">
            <div class="card-body">
              <h5 class="card-title" id="cardTitle4">No Results</h5>
              <p class="card-text" id="cardInfo4">Please adjust your search and try again</p>
            </div>
      </div>
    </div> --}}